<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Jungle, </h1>
    <p>
      We've got your username: .<br>
    </p>
    <p>
      We've got other things you want, if you follow this link:.
    </p>
    <p>J-j-j-j-jungle!</p>
  </body>
</html>